body {
  background: linear-gradient(270deg, rgba(246,1,250,1) 0%, rgba(11,101,222,1) 100%);
    font-family: Arial, sans-serif;
    margin:0;
    padding: 0;
}

header {
    background: hsl(0, 0%, 11%);
    color: #fff;
    padding-top: 10px;
  }
  
  header h1 {
    text-align: center;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 1px 32px;
  }
  nav ul {
  list-style: none;
  text-align: center;
  list-style-type: none;
  padding: 8px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 10px;
  }
  
  nav ul li {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:  5px;
    width: 80px; 
    height: 60px; 
    border: 1px solid transparent;
    padding-inline: 8px;
    padding-block: 4px;
    transition: all 0.3s ease; 
    border-radius: 5px;
  }
  nav ul li:hover {
   border-color: hsl(0, 0%, 83%);
   transform: scale(1.15);
   text-decoration: underline;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  #info{
    margin-inline: 8px;
  }
  img{
    border-radius: 80px;
    box-shadow: 7px 7px 8px;
  }
  #image {
    float: left;
    margin-right: 30px;
  }
  #image2{
    margin-right: 60px;
    margin-left: 130px;
  }
#photo{
  
   align-self: right;
   
  }
#texty{
  padding-top: 20px;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 130px;
}
#links{
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}
h1{
  font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#w{
  position: relative;
}
a{
  color: rgb(0, 0, 0);
}